html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}
/* Quitamos espacios por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Fondo principal */
body {
  font-family: Arial, century;
  background-color: #0B1742;
}

/* Contenedor principal */
.container {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}

/* Caja login */
.login-box {
  width: 100%;
  max-width: 450px;

  background-color: white;

  border-radius: 20px;

  overflow: hidden;

  box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}

/* Parte superior */
.top-section {
  background: linear-gradient(
    135deg,
    #A7201F,
    #0B1742
  );

  color: white;

  text-align: center;

  padding: 40px 20px;
}

/* Círculo logo */
.logo-circle {
  width: 100px;
  height: 100px;

  background-color: rgba(255, 255, 255, 0.958);

  color: #0B1742;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto auto 20px auto;

  font-size: 35px;
}

/* Imagen logo */
.logo-img {
  width: 85px;

  height: 73px;

  object-fit: contain;
}

/* Título */
.top-section h1 {
  font-size: 28px;

  margin-bottom: 10px;
}

/* Subtitulo */
.top-section p {
  opacity: 0.8;
}

/* Formulario */
.form-section {
  padding: 30px;
}

/* Tabs */
.tabs {
  display: flex;

  gap: 10px;

  margin-bottom: 25px;
}

/* Botones tabs */
.tabs button {
  flex: 1;

  padding: 12px;

  border: none;

  border-radius: 10px;

  cursor: pointer;

  font-size: 15px;
}

/* Tab activa */
.tabs .active {
  background-color: #A7201F;

  color: white;
}

/* Labels */
label {
  display: block;

  margin-bottom: 8px;

  margin-top: 18px;

  font-weight: bold;

  color: #333;
}

/* Inputs */
input {
  width: 100%;

  padding: 14px;

  border-radius: 10px;

  border: 1px solid #ccc;

  font-size: 15px;

  background-color: #e7dfd6;

  color:black;
}

/* Opciones */
.options {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-top: 18px;

  gap: 10px;

  font-size: 14px;
}

/* Link */
.options a {
  text-decoration: none;

  color: #A7201F;
}

/* Botón login */
.login-btn {
  width: 100%;

  margin-top: 25px;

  padding: 14px;

  border: none;

  border-radius: 10px;

  background-color: #A7201F;

  color: white;

  font-size: 17px;

  cursor: pointer;
}

/* Footer */
footer {
  color: white;

  margin-top: 20px;

  text-align: center;

  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 500px) {

  .form-section {
    padding: 20px;
  }

  .top-section h1 {
    font-size: 22px;
  }

  .tabs {
    flex-direction: column;
  }

  .options {
    flex-direction: column;

    align-items: flex-start;
  }
}
/* Contenedor contraseña */
.password-container {
  position: relative;
}

/* Botón mostrar contraseña */
.show-btn {
  position: absolute;

  right: 10px;

  top: 50%;

  transform: translateY(-50%);

  border: none;

  background: none;

  cursor: pointer;

  font-size: 18px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 5px 0;
}

.input-error {
  border: 2px solid red;
}
.login-box {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.15);
}
/* ===== DASHBOARD ===== */

.dashboard {

  display: flex;

  min-height: 100vh;

  background: #f7f7f7;
}



/* ===== SIDEBAR ===== */

.sidebar {

  width: 280px;

  background: linear-gradient(
    180deg,
    #691C32,
    #0A1F44
  );

  color: white;

  padding: 30px 20px;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  box-shadow: 4px 0px 15px rgba(0,0,0,0.15);
}



/* ===== LOGO ===== */

.logo-dashboard {

  color: #DDC9A3;

  font-size: 38px;

  margin-bottom: 5px;
}

.logo-subtitle {

  color: #f2f2f2;

  opacity: 0.8;

  margin-bottom: 50px;
}



/* ===== MENU ===== */

.menu {

  list-style: none;

  padding: 0;
}

.menu li {

  padding: 18px;

  margin-bottom: 15px;

  border-radius: 16px;

  cursor: pointer;

  transition: 0.3s;

  font-size: 18px;

  display: flex;

  align-items: center;

  gap: 10px;
}



/* Hover */

.menu li:hover {

  background: rgba(255,255,255,0.15);

  transform: translateX(5px);
}



/* Activo */

.active-menu {

  background: #DDC9A3;

  color: #691C32;

  font-weight: bold;
}



/* ===== USER BOX ===== */

.user-box {

  background: rgba(255,255,255,0.1);

  padding: 15px;

  border-radius: 18px;

  display: flex;

  align-items: center;

  gap: 15px;

  backdrop-filter: blur(5px);
}



/* Circulo usuario */

.user-circle {

  width: 50px;

  height: 50px;

  border-radius: 50%;

  background: #DDC9A3;

  color: #691C32;

  font-weight: bold;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 22px;
}



/* Textos usuario */

.user-box h4 {

  margin: 0;
}

.user-box p {

  margin: 0;

  font-size: 14px;

  opacity: 0.8;
}



/* ===== CONTENIDO ===== */

.main-content {

  flex: 1;

  padding: 40px;
}
/* ===== TOPBAR ===== */

.topbar {

  background: white;

  padding: 25px 30px;

  border-radius: 25px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  box-shadow: 0px 4px 15px rgba(0,0,0,0.08);

  margin-bottom: 30px;
}



/* Textos */

.topbar h1 {

  color: #691C32;

  margin-bottom: 8px;

  font-size: 32px;
}

.topbar p {

  color: #6F7271;
}



/* Derecha */

.topbar-right {

  display: flex;

  align-items: center;

  gap: 15px;
}



/* ===== INPUT ===== */

.search-input {

  padding: 12px 18px;

  border-radius: 12px;

  border: 1px solid #ddd;

  outline: none;

  font-size: 15px;

  transition: 0.3s;
}



/* Focus */

.search-input:focus {

  border-color: #9F2241;

  box-shadow: 0px 0px 8px rgba(159,34,65,0.2);
}



/* ===== ICONOS ===== */

.icon-box {

  width: 50px;

  height: 50px;

  border-radius: 14px;

  background: #F5F5F5;

  display: flex;

  justify-content: center;

  align-items: center;

  cursor: pointer;

  transition: 0.3s;

  font-size: 20px;
}



/* Hover iconos */

.icon-box:hover {

  background: #DDC9A3;

  transform: translateY(-3px);
}



/* ===== PERFIL ===== */

.profile-box {

  display: flex;

  align-items: center;
}



/* Círculo perfil */

.profile-circle {

  width: 50px;

  height: 50px;

  border-radius: 50%;

  background: linear-gradient(
    135deg,
    #A7201F,
    #691C32
  );

  color: white;

  font-weight: bold;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 20px;

  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}



/* ===== RESPONSIVE ===== */

@media (max-width: 900px) {

  .topbar {

    flex-direction: column;

    gap: 20px;

    align-items: flex-start;
  }



  .topbar-right {

    width: 100%;

    flex-wrap: wrap;
  }



  .search-input {

    width: 100%;
  }
}
.fila {
  display: flex;
  gap: 10px;
}

.campo {
  flex: 1;
}
select {
  width: 100%;

  padding: 14px;

  border-radius: 10px;

  border: 1px solid #ccc;

  font-size: 15px;

  background-color: #f3f3f3;

  color: black;
}
.register-link {
  color: #333;
}

.register-link a {
  color: #A7201F;

  font-weight: bold;

  text-decoration: none;

  margin-left: 5px;
}

.register-link a:hover {
  text-decoration: underline;
}